.bordered-table th, .bordered-table td {
    border: 1px solid #eee;
    width: 100%;
    padding: 4px;
    font-size: 14px;
}

.bordered-table th {
    border: 1px solid #21BC72;
    background-color: #26a267;
    color: #fff;
}
.bordered-table th:first-child {
    border-radius: 8px 0px 0px 0px;
    border-top: none;
    border-right: none;
    border-left: none;
}

.bordered-table th:last-child {
    border-radius: 0px 8px 0px 0px;
    border-top: none;
    border-right: none;
    border-left: none;
}

.bordered-table tr:nth-child(odd) {
    background-color: white;
}

.bordered-table tr:nth-child(even) {
    background-color: #F6F6F6;
}

